<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <h3><%= @book.errors.count %>errors prohibited this book from being saved:</h3>
  <ul><% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model:@book,:url => {:action => :update}, local:true do |t| %>
  <p class="book_title">
    Title<br>
    <%= t.text_field :title %>
  </p>
  <p class="book_body">
    Body<br>
    <%= t.text_area :body %>
  </p>
  <%= t.submit "Update Book" %>
<% end %>

<p class="link">
  <%= link_to "Show" , book_path(@book.id) %> | <%= link_to "Back" , books_path %>
</p>